# Postgres (Neon) — connection string from https://console.neon.tech
DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=verify-full"

# Clerk (Day 2) — https://dashboard.clerk.com → API Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3VidGxlLXRlYWwtNjcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_2vXlmfitVrhljngp8dQzM34lgFxx6EYqecJXELKBbr
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/app
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/app
